<div class="list-item">
    <a href=" {% url "recipes:recipe" recipe.slug %} ">
        <img src="{{ recipe.cover.url }}">
    </a>
    <a href=" {% url "recipes:recipe" recipe.slug %} ">
        <h2 class="h2-list"> {{ recipe.title }} </h2>
    </a>
    <div class="recipe-author-container">               
        <span class="recipe-author-item">
            {% if recipe.author.first_name %}
                <i class="fas fa-user"></i>{{ recipe.author.first_name }} {{ recipe.author.last_name }}
            {% else %}
                <i class="fas fa-user"></i>{{ recipe.author.username }} 
            {% endif %}
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>{{ recipe.created_at}}
        </span>
        <span class="recipe-author-item">
            <a href="{% url "recipes:category" recipe.category.id %}">
                <i class="fas fa-layer-group"></i>{{ recipe.category.name }}
            </a>
        </span>
    </div>

    <div class="text-recipe">
        <p> {{ recipe.description}}
        </p>
    </div>
    <dir class="recipe-info-container">
        <div class="recipe-time">
            <h3 class="recipe-time-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <span class="recipe-meta-text"> {{ recipe.preparation_time }} {{ recipe.preparation_time_unit}}</span>
        </div>
        <div class="recipe-portion">
            <h3 class="recipe-portion-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <span class="recipe-meta-text"> {{ recipe.servings }} {{ recipe.servings_unit}}</span>
        </div>
    </dir>
    {% if not detail_page  %}
        <div class="footer-recipe">
            <a href="{% url "recipes:recipe" recipe.slug %}">
                <i class="fa-solid fa-eye"></i><span class="span-footer">Ver mais...</span>
            </a>
        </div>
    {% endif %}
    
    {% if detail_page is True %}
    <div class="preparations-steps">
        {{ recipe.preparation_steps | linebreaksbr}}
    </div> 
    {% endif %}
    
</div>